


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-formulario (person)="addPerson($event)"></app-formulario>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let person of peopleService.getObservable() | async; let i = index">
        <app-personal-card 
        [name]="person.name" 
        [surname]="person.surname" 
        [age]="person.age"
        [isFav]="person.isFav"
        (isFavClick)="onFavIsClicked(i)"
        (isDeleteClick)="onDeleteIsClicked(i)">
        </app-personal-card>      
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
